<!--footer start-->
<footer>
  <div class="container">
    <div class="main_section">
      <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-12">
          <a class="navbar-brand" routerLink=""><i class="fas fa-dragon fa-3x"></i> DRAGON</a>
          <div class="social">
            <a href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook-square fa-2x"></i></a>
            <a href="https://twitter.com/" target="_blank"><i class="fab fa-twitter-square fa-2x"></i></a>
            <a href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram-square fa-2x"></i></a>
          </div>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Asperiores autem cupiditate dolor molestiae nam officia
            officiis qui rerum sit voluptatibus!</p>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-12">
          <div class="footer-link"><a href=""><i class="fas fa-angle-double-right"></i> Home</a></div>
          <div class="footer-link"><a href=""><i class="fas fa-angle-double-right"></i> About</a></div>
          <div class="footer-link"><a href=""><i class="fas fa-angle-double-right"></i> Articles</a></div>
          <div class="footer-link"><a href=""><i class="fas fa-angle-double-right"></i> Gallery</a></div>
          <div class="footer-link"><a href=""><i class="fas fa-angle-double-right"></i> Contact us</a></div>
          <div class="footer-link"><a href=""><i class="fas fa-angle-double-right"></i> login</a></div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-12">
          <div class="address-footer">
            <i class="fas fa-map-marker-alt fa-2x"></i>
            <P>Egypt, Cairo, El Tayaran st, El tawfeek City</P>
          </div>
          <div class="address-footer">
            <i class="fas fa-mobile-alt fa-2x"></i>
            <P>+201065987435</P>
            <P>+22647892</P>
          </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-12">
          <div class="games">
            <img class="me-auto" src="../../assets/images/footer/team-05.png" alt="image5 footer">
            <img class="me-auto" src="../../assets/images/footer/team-01.jpg" alt="image5 footer">
            <img class="me-auto"  src="../../assets/images/footer/team-06.png" alt="image5 footer">
            <img class="me-auto"  src="../../assets/images/footer/team-07.jpg" alt="image5 footer">
            <button class="btn btn-outline-warning">buy now</button>
          </div>
        </div>
      </div><!--row end-->
    </div><!--main_section end-->
  </div> <!--container end-->
</footer>
<!--footer end-->
