<!--start about-->
<section class="about">
      <div class="container">
         <div class="title">
            <h2>about us</h2>
         </div><!--title about-->
            <div class="main_section">
              <div class="row">
                  <div class="col-md-6 col-sm-12">
                    <div class="img-about">
                      <img class="img-fluid" [src]="aboutImage" alt="about image">
                    </div>
                  </div>
                <div class="col-md-6 col-sm-12">
                  <div class="small_title">
                    <h5>{{aboutSmallTitle}}</h5>
                  </div>
                  <h1>dragon is the best<br> gaming studio for<br> all gamer</h1>
                  <p>{{aboutParagraph}}</p>
                  <a appButtonStyle href="" class="btn btn-warning">play now <i class="fas fa-long-arrow-alt-right"></i></a>
                </div>
              </div>
            </div><!--main_section about-->
      </div><!--container about-->
</section><!--end about-->
  <!--about_small_section-->
  <div class="about_small_section">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-12">
          <div class="block text-center">
            <i class="fas fa-gamepad fa-4x"></i>
            <h4>dynamic fights</h4>
            <p>Our themes are updated regularly to keep them bug free updated regularly to keep!</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12">
          <div class="block text-center">
            <i class="fas fa-heartbeat fa-4x"></i>
            <h4>incredible atmosphere</h4>
            <p>Our themes are updated regularly to keep them bug free updated regularly to keep!</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12">
          <div class="block text-center">
            <i class="fas fa-hand-rock fa-4x"></i>
            <h4>play with friends</h4>
            <p>Our themes are updated regularly to keep them bug free updated regularly to keep!</p>
          </div>
        </div>
    </div>
  </div>
</div><!--end about_small_section-->



