<!--gallery start-->
<section class="gallery">
  <div class="container">
    <div class="title">
      <h2>gallery</h2>
    </div><!--title articles end-->
    <div class="main_section">
      <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-12">
          <div class="block">
            <div class="img-block">
              <h3>the<br> adventures !</h3>
              <img src="../../assets/images/gallery/team-01.jpg" class="img-fluid">
            </div><!--img-block end-->
            <div class="gallery-details text-center">
              <p>Rotten Tomatoes is 97%</p>
              <p>Movie Studio is Pixar Animation Studios</p>
              <p>Domestic Gross Revenue is $434,038,008</p>
              <button class="btn btn-outline-warning">Play now</button>
            </div>
          </div><!--block end-->
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12">
          <div class="block">
            <div class="img-block">
              <h3>the<br> croods !</h3>
              <img src="../../assets/images/gallery/team-05.png" class="img-fluid">
            </div><!--img-block end-->
            <div class="gallery-details text-center">
              <p>Rotten Tomatoes: 98%</p>
              <p>Movie Studio: Buena Vista (Disney)</p>
              <p>Domestic Gross Revenue: $356,921,711</p>
              <button class="btn btn-outline-warning">Play now</button>
            </div>
          </div><!--block end-->
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12">
          <div class="block">
            <div class="img-block">
              <h3>teen<br> titans go ! </h3>
              <img src="../../assets/images/gallery/team-08.jpg" class="img-fluid">
            </div><!--img-block end-->
            <div class="gallery-details text-center">
              <p>Rotten Tomatoes: 100%</p>
              <p>Movie Studio: Warner Bros</p>
              <p>Domestic Gross Revenue: $40,891,591</p>
              <button class="btn btn-outline-warning">Play now</button>
            </div>
          </div><!--block end-->
        </div>
      </div><!--row end-->
    </div><!--main_section end-->
  </div><!--container end-->
</section>
<!--gallery end-->
