<!--showcase start-->
<div class="showCase">
     <div class="container">
          <div class="row">
            <div class="col-md-6 col-sm-12">
              <div class="right_side">
                <div class="small_title">
                  <h5>{{smallTitle}}</h5>
                </div>
                <h1>electronics<span> games</span></h1>
                <p>{{showCaseParagraph}}</p>
                <a href="../contact" type="button" class="btn btn-warning">register now</a>
              </div><!--right_side end-->
            </div>
            <div class="col-md-6 col-sm-12">
              <div class="left_side">
                <img class="img-fluid" alt="showcase image" [src]="showCaseImage"/>
              </div><!--left_side end-->
            </div><!--col end-->
          </div><!--row end-->
     </div> <!--container end-->
</div> <!--showcase end-->
